{% extends "base.html" %}
{% load staticfiles %}
<head>
<meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">


   <!-- Bootstrap Core CSS -->
   <link href={% static 'clinique/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    {% block styles %}
    <link href= {% static 'clinique/css/blog-home.css' %}" rel="stylesheet">
    {% endblock styles %}

{% block title %}{{ block.super }}Consultations{% endblock %}
</head>

{% block content %}

<table class="table table-compact table-striped table-hover">
        <tr>
            <th>Patient </th>
            <th>Date de consultation </th>
            <th>Urgence </th>
            <th>Motifs </th>
            <th>Conclusion</th>

            <th>Dispositions complémentaires</th>
            <th>Éditer</th>

        </tr>

        {% for consultation in consultations %}
        <tr>
            <td><a href="#"><strong>{{ consultation.patient }} - {{ patient.birth }}</strong></a></td>

            <td><a href="#"><strong>{{ consultation.consultation_date }}</strong></a></td>

            <td>{% if consultation.emergency == True %} oui {% else %} non {% endif %}</td>
            <td>{% for motif in consultation.motif_consultation.all %} {{ motif }} {% endfor %}</td>
            <td>{{ consultation.resume }}</td>
            <td>{{ consultation.dispositions }} </td>
            <td><a href="#"><span class ="glyphicon glyphicon-pencil" aria-hidden="true"></span></td></a>

        </tr>
        {% endfor %}
    </table>
    <hr>
    <a class="btn btn-default " href="#" >

        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouvelle consultation
    </a>


</div>





{% endblock content %}


    {% block scripts %}
    <script src="{% static 'site/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'site/js/site.js' %}"></script>
    {% endblock scripts %}
