{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block title %}{{ block.super }}Patient {{ patient.name }}{% endblock title %}




{% block container %}
<hr>
     <h2>{{ patient.name }}</h2>



    <table class="table table-compact table-striped table-hover">
        <tr>
            <th>consultation</th>
            <th>Motifs </th>
            <th>Urgence?</th>
            <th>Resumé clinique</th>
            <th>dispositions complémentaires</th>
            <th>Éditer</th>
            <th>tags</th>

       </tr>

        {% for consultation in consultations %}
        <tr>
            <td><a href="{% url 'clinics:consultation_pdf' pk1=patient.pk pk2=consultation.pk %}"><span class ="glyphicon glyphicon-print" aria-hidden="true"></span> <strong>{{ consultation.consultation_date }}</strong></a></td>


            <td>{% for motif in consultation.motif_consultation.all %} {{ motif }} {% endfor %}</td>
            <td>{% if consultation.emergency == True %} oui {% else %} non {% endif %}</td>
            <td>{{ consultation.resume }}</td>
            <td>{{ consultation.dispositions }}</td>

            <td><a href="#"><span class ="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
            <td>{% for tag in patient.tags.all %} <span class="label label-warning">{{ tag }}</span> {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <hr>


    <h3>Document médicaux</h3>

    <table class="table table-compact table-striped table-hover">
        <tr>
            <th>Courriers</th>
            <th>Ordonnances</th>
            <th>Stress echo</th>
            <th>coroscan</th>
       </tr>
       <tr>
           <th>
               <ul>
{% for courrier in courriers   %}
                   <li>   <a href="{% url 'courriers:courrier_mkiv' pk1=patient.pk pk2=courrier.pk %}"><span class ="glyphicon glyphicon-print" aria-hidden="true"></span> {{ courrier.patient }} - {{ courrier.courrier_date }}</a>

  </li>

{% endfor %}
                    {% for certificat in certificats %}
 <li>
        
           <a href="{ % url 'courriers:certficat_pdf' pk1=patient.pk pk2=certificat.pk % #}"><span class ="glyphicon glyphicon-print" aria-hidden="true"></span> {{ certificat.patient }}</a>   </li>
 
{% endfor %}
                   <li>     </li>
                   <li>     </li>

               </ul>

           </th>
        <tr>
         
    </table>
    <hr>








{% endblock container %}


{% block scripts %}
<script src="{% static 'clinique/js/jquery.min.js' %}"></script>
<script src="{% static 'clinique/js/bootstrap.min.js' %}"></script>
<script src="{% static 'clinique/js/blog-home.js' %}"></script>
{% endblock scripts %}


