{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}




{% block title %}{{ block.super }}Patients{% endblock %}


{% block container %}

<h1> Liste des atients</h1>
<hr>


    <table class="table table-compact table-striped table-hover">
        <tr>
            <th>Patient </th>
            <th>Date de naissance </th>
            <th>Adresse </th>
            <th>Téléphone</th>
            <th>Assurance</th>

            <th>Date de 1° consultation</th>
            <th>Allergies connues</th>
            <th>Tags</th>

            <th>Éditer</th>

        </tr>

        {% for patient in patients %}
        <tr>
            <td><a href="{% url 'clinics:detail_patient' pk=patient.pk %}"><strong>{{ patient.name }}</strong></a></td>


            <td>{{ patient.birth }}</td>
            <td>{{ patient.adresse }}</td>
            <td>{{ patient.phone }}</td>
            <td>{% if patient.assurance == 'C' %}CNAS {% else %}CASNOS {% endif %}</td>
            <td>{{patient.first_admission }}</td>
            <td>{{ patient.allergy }}</td>

            <td>{% for tag in patient.tags.all %} <span class="label label-warning">{{ tag }}</span> {% endfor %}
                <td><a href="#"><span class ="glyphicon glyphicon-pencil" aria-hidden="true"></span></td></a>

        </tr>
        {% endfor %}
    </table>
    <hr>
    <a class="btn btn-default " href="#" >

        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter patient
    </a>


</div>





{% endblock container %}


{% block scripts %}
<script src="{% static 'clinique/js/jquery.min.js' %}"></script>
<script src="{% static 'clinique/js/bootstrap.min.js' %}"></script>
<script src="{% static 'clinique/js/blog-home.js' %}"></script>
{% endblock scripts %}
