

        {% extends "base.html" %}
        {% load staticfiles %}
        {% load thumbnail %}


        {% block title %}{{ block.super }}Procédures de pacing{% endblock %}




        {% block container %}

<div class="container" >

    <div class="container profile-head">
        <div class="row">
            <div class="col-sm-10">
                <h1><huge>CORONAROGRAPHIES</huge></h1>
                <!--      {% if editable %}
                     <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
                     {% endif %} -->
            </div>
            <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'logo.png' 140x140 crop %}">
            </div>
        </div>
    </div>



<table class="table table-compact table-striped table-hover">
                <tr>
                  <th>Patient</th>
                  <th>Intervention</th>
                  <th>Date</th>
                  <th>Medecin</th>
                  <th>indication </th>

                  <th>conclusion</th>
                  <th>dispositions</th>
                  <th>PDF</th>
                  <th>Édier</th>
                </tr>
            
                {% for coronarographie in list_coronarographies %}
                <tr>
                    <td><a href="{% url 'interventions:detail_coronarographie' pk=coronarographie.pk %}">{{ coronarographie.patient }}</a></td>

                    <td> {% if coronarographie.conclusion  %} Coronarographie {% endif %} {% if coronarographie.procedure %}Angioplastie{% endif %}</td>

                    <td>{{coronarographie.intervention_date }}</td>
                    <td>{{ coronarographie.operateur }}</td>
                    <td> {% for indication in coronarographie.indication.all  %}{{ indication }} {% endfor %}</td>
                        
                    <td>{{ coronarographie.conclusion }}</td>
                    <td>{{ coronarographie.dispositions }}</td>

                    <td><a href="{% url 'interventions:rapport_coro' pk2=coronarographie.pk pk1=patient.pk %}" <span class="glyphicon glyphicon-print" aria-hidden="true"></span></td>
<td><a href="{% url 'interventions:update_coronarographie' pk=coronarographie.pk %}"><span class ="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>

                </tr>
                {% endfor %}
</table>
<a class="btn btn-default " href="{% url 'interventions:create_coronarographie' %}" >
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter coro
</a>
 </div>
{% endblock container %}

{% block scripts %}

        <script src="{% static 'site/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'site/js/site.js' %}"></script>
        {% endblock scripts %}

  
