{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Pacing{% endblock %}

{% block container %}
<div class="container profile-head">
    <div class="row">
        <div class="col-sm-10">
            <h1>{{ stimulation.patient }} <small>le {{ stimulation.intervention_date }}</small></h1>
            

            <!-- à remplacer par edit admission  {% if editable %}
                 <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
                 {% endif %} -->
        </div>
        <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'logo.png' 140x140 crop %}">
        </div>
    </div>
</div>

<div><h3> Protocole opératoire de {% if stimulation.epuisement == False %}primo-implantation {% else %}changement de boîtier{% endif %} de Pace-maker {% if stimulation.type_stimulation == 'DDD' %}double chambre {% else %}mono chambre {% endif %} type {{ stimulation.type_stimulation }}</h2>
    <hr>

    <div class="container profile-body">
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-group">


                    <li class="list-group-item text-left"><strong> Date de l'intervention: {{ stimulation.intervention_date }}</strong></li>

	                  <!--  <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="This email address has been verified"></span> -->
	                  <li class="list-group-item text-left"><strong> Médecin opérateur: {{ stimulation.operateur }}</li>
                        {% if stimulation.aide %}<li class="list-group-item text-left">Aide: <strong>{{ stimulation.aide }}</strong></li>{% endif %}
                        <li class="list-group-item text-left"><strong>Indication: {% for indication in stimulation.indication.all %} {{ indication }} {% endfor %}</li>


                            <li class="list-group-item text-left"><strong>Pace: {{ stimulation.pacemaker }} </li>
                                <li class="list-group-item text-left"><strong>Type de stimulation: {{ stimulation.type_stimulation }} </li>
                                    <li class="list-group-item text-left"><strong>Durée de la procédure: {{ stimulation.duree }} </li>

                                        
                                        <li class="list-group-item text-left"><a href="{% url 'interventions:stimulation_pdf' pk2=stimulation.pk pk1=patient.pk %}" >Imprimer rapport <span class ="glyphicon glyphicon-print"></span></a></li>


                                        <!--  <li class="list-group-item text-left"><strong>Last seen</strong> {{ show_user.last_login }}</li>-->
                </ul>



            </div>



            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading"> </div>
                    <div class="panel-body">

                        <H2>Procédure</h2>
                        
                        <p> {{ stimulation.procedure }}
                        </p>
                        <hr>



                        <h3>Complications</h3>
                        <p>{% for complication in stimulation.complication.all %} {{ complication }} {% endfor %}</p>

                        <h3>Dispositions complémentaires</h3>
                        <p>{{ stimulation.dispositions }}</p>

                    </div>

                </div>
            </div>
            
        </div>
    </div>
    
</div>

{% endblock  %}
