{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block title %}{{ block.super }}Procédures de pacing{% endblock %}




{% block container %}

<div class="container">

  <div class="container profile-head">
        <div class="row">
            <div class="col-sm-10">
                <h1><huge>PACING</huge></h1>
                <!--      {% if editable %}
                     <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
                     {% endif %} -->
            </div>
            <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'logo.png' 140x140 crop %}">
            </div>
        </div>
    </div>



    <table class="table table-compact table-striped table-hover">
        <tr>
            <th>Patient</th>
            <th>Date</th>
            <th>Medecin</th>
            <th>indication </th>
            
            <th>Type</th>
            <th>PDF</th>
            <th>Éditer</th> 
        </tr>
        
        {% for stimulation in list_stimulations %}
        <tr>
            <td><a href="{% url 'interventions:detail_stimulation' pk=stimulation.pk %}">{{ stimulation.patient }}</a></td>
            
            <td>{{ stimulation.intervention_date }}</td>
            <td>{{ stimulation.operateur }}</td>
            <td> {% for indication in stimulation.indication.all  %}{{ indication }} {% endfor %}</td>
            
            <td>{{ stimulation.stimulation_type }}</td>
             <td><a href="{% url 'interventions:stimulation_pdf' pk=stimulation.pk %}"><span class ="glyphicon glyphicon-print" aria-hidden="true"></span></td>
           <td><a href="{% url 'interventions:update_stimulation' pk=stimulation.pk %}"><span class ="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
            
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-default " href="{% url 'interventions:create_stimulation' %}" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter stim
    </a>
</div>



{% endblock container %}

{% block scripts %}

<script src="{% static 'site/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
